* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

html {
  font-size: 62.5%; }

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 20fr;
  max-width: 136.6rem; }
  .container .menu_navbar {
    background-color: #c69963;
    text-align: center;
    position: relative; }
    .container .menu_navbar hr {
      width: 50%;
      margin: 3rem 1.5rem;
      height: 0.3rem;
      background-color: white;
      border: none; }
    .container .menu_navbar hr::after {
      content: " ";
      position: absolute;
      width: 50%;
      margin: 1rem auto;
      height: 0.3rem;
      background-color: white;
      border: none;
      top: 3rem;
      left: 1.5rem; }
    .container .menu_navbar hr::before {
      content: " ";
      position: absolute;
      width: 50%;
      margin: 1rem auto;
      height: 0.3rem;
      background-color: white;
      border: none;
      top: 1rem;
      left: 1.5rem; }

.home_pages {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 50rem; }
  .home_pages .home_page {
    color: #56493c;
    background-image: linear-gradient(to bottom right, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover; }
    .home_pages .home_page .home_img {
      text-align: center;
      margin: 5rem; }
      .home_pages .home_page .home_img img {
        width: 18rem;
        height: 4rem; }
    .home_pages .home_page .home_text {
      font-size: 2rem;
      font-weight: 520;
      color: #c69963;
      margin: 4rem 0 0 7rem; }
    .home_pages .home_page .home_title {
      margin: 1rem 7rem;
      font-size: 4rem;
      color: white;
      font-family: "Work Sans", sans-serif; }
    .home_pages .home_page .home_btn {
      padding: 1rem;
      border: none;
      background-color: #c69963;
      color: white;
      margin: 1rem 7rem; }
    .home_pages .home_page .home_seen {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: white;
      opacity: 0.4;
      margin-top: 6rem; }
      .home_pages .home_page .home_seen hr {
        width: 35rem;
        margin: 1rem; }
    .home_pages .home_page .home_brend {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 85%;
      margin: 0 auto; }
      .home_pages .home_page .home_brend img {
        width: 15rem;
        margin: 1rem; }
  .home_pages .home_realt {
    background-color: #101d2c; }
  .home_pages .home_realt {
    text-align: center; }
    .home_pages .home_realt .realt_title {
      font-size: 2rem;
      color: #c69963;
      margin: 8rem 0 2rem 0; }
    .home_pages .home_realt .realt_box {
      display: grid;
      grid-template-columns: 2fr 8fr;
      width: 70%;
      margin: 3rem auto;
      color: white; }
      .home_pages .home_realt .realt_box img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%; }
      .home_pages .home_realt .realt_box .real_box_name p:nth-child(1) {
        font-size: 1.5rem;
        margin: 2rem 0 1rem 0; }
      .home_pages .home_realt .realt_box .real_box_name p:nth-child(2) {
        font-size: 1.1rem;
        opacity: 0.7; }

.text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: space-around;
  height: 60rem;
  padding: 10rem; }
  .text .text_box p:nth-child(1) {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 500; }
  .text .text_box p:nth-child(2) {
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.9; }

.decision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem; }
  .decision .decision_img {
    background-image: url(../img/back.jpg);
    display: flex;
    justify-content: center;
    align-items: center; }
    .decision .decision_img img {
      width: 40rem;
      height: 30rem; }
  .decision .decision_content {
    padding: 5rem 5rem 5rem 10rem;
    background-color: rgba(245, 243, 238, 0.4);
    position: relative; }
    .decision .decision_content .story-2 {
      position: absolute;
      top: 28rem;
      left: -24rem; }
      .decision .decision_content .story-2 img {
        width: 30rem;
        height: 18rem; }
    .decision .decision_content .decision_text {
      font-size: 1.5rem;
      margin: 7rem 0 1rem 1rem;
      letter-spacing: 0.3rem;
      color: #c69963;
      font-weight: 550; }
    .decision .decision_content .decision_title {
      font-size: 3rem;
      font-style: italic;
      letter-spacing: 0.5rem;
      margin: 1rem;
      font-family: "Work Sans", sans-serif; }
    .decision .decision_content .decision_description {
      font-size: 1.4rem;
      line-height: 2.5rem;
      opacity: 0.8;
      margin: 2rem 1rem; }
    .decision .decision_content .decision_btn {
      padding: 1rem;
      border: none;
      background-color: #c69963;
      color: white;
      margin: 1rem; }

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8rem;
  gap: 4rem; }
  .category .category_card {
    height: 40rem;
    width: 30rem;
    background-color: rgba(190, 140, 14, 0.2);
    text-align: center;
    position: relative; }
    .category .category_card img {
      width: 30rem; }
    .category .category_card .category_back {
      position: absolute;
      top: 18rem;
      left: 6rem;
      background-color: #101d2c;
      color: white;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-family: "Work Sans", sans-serif; }
    .category .category_card .category_text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3rem;
      font-size: 1.5rem;
      margin: 4rem 0; }
    .category .category_card .category_btn {
      position: absolute;
      padding: 1rem;
      border: none;
      background-color: #c69963;
      color: white;
      bottom: 0;
      left: 0;
      width: 100%; }

.gallery {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr); }
  .gallery img {
    width: 100%; }
  .gallery .img1 {
    grid-row: span 2;
    grid-column: span 2; }
  .gallery .img2 {
    grid-column: span 3;
    grid-row: span 3;
    height: 100%; }
  .gallery .img3 {
    height: 100%;
    grid-column: span 1;
    grid-row: span 2; }
  .gallery .img4 {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery .img5 {
    grid-column: span 2;
    grid-row: span 3;
    height: 100%; }
  .gallery .img9 {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery .img6 {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery .img7 {
    grid-column: span 1;
    grid-row: span 3;
    height: 100%; }
  .gallery .img13 {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%; }
  .gallery .img14 {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%; }
  .gallery .img11 {
    grid-column: span 2;
    grid-row: span 3;
    height: 100%; }
  .gallery .img12 {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%; }
  .gallery .img10 {
    grid-column: -2/-1;
    grid-row: -3/-1;
    height: 100%; }

.footer {
  background-color: #101d2c;
  height: 40rem; }
  .footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10rem 2rem;
    color: white;
    font-size: 1.5rem;
    opacity: 0.9; }
    .footer_nav p {
      width: 80%;
      text-align: center; }
  .footer p {
    color: white;
    font-size: 1.2rem;
    opacity: 0.5;
    width: 80%;
    margin: 0 auto;
    text-align: center; }

@media (max-width: 36em) {
  html {
    font-size: 50%; }
  * {
    margin: 0;
    padding: 0; }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 56.8rem;
    margin: 0; }
    .container .menu_navbar {
      position: relative; }
      .container .menu_navbar hr {
        width: 3rem; }
      .container .menu_navbar hr::after {
        width: 3rem; }
      .container .menu_navbar hr::before {
        width: 3rem; }
    .container .basic_content {
      width: 100vw; }
      .container .basic_content .home_pages {
        display: grid;
        grid-template-columns: 1fr;
        height: 100rem;
        width: 100vw; }
        .container .basic_content .home_pages .home_page {
          width: 100vw;
          height: 120rem; }
          .container .basic_content .home_pages .home_page .home_seen hr {
            width: 20rem; }
          .container .basic_content .home_pages .home_page .home_brend img {
            width: 10rem; }
      .container .basic_content .text {
        display: grid;
        grid-template-columns: 1fr;
        height: 100rem; }
      .container .basic_content .decision {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100rem;
        position: relative; }
        .container .basic_content .decision .story-2 {
          position: absolute;
          top: -30rem;
          left: 30rem; }
      .container .basic_content .category {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 25%;
        padding: 0;
        width: 0; }
      .container .basic_content .footer .footer_nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem; } }
